ServidorPassword/PruebaServicioJuegoPassword/Connected Services/ServidorPassword/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioJuegoPassword.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioJuegoPassword.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJugadorContrato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JugadorContrato" nillable="true" type="tns:JugadorContrato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJugadorContrato" nillable="true" type="tns:ArrayOfJugadorContrato" />
  <xs:complexType name="JugadorContrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdJugador" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaImagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorContrato" nillable="true" type="tns:JugadorContrato" />
  <xs:complexType name="PartidaContrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoPartida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoPartida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAnfitrion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPartida" type="xs:int" />
      <xs:element minOccurs="0" name="ModoJuego" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartidaContrato" nillable="true" type="tns:PartidaContrato" />
  <xs:complexType name="ArrayOfPreguntaContrato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreguntaContrato" nillable="true" type="tns:PreguntaContrato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreguntaContrato" nillable="true" type="tns:ArrayOfPreguntaContrato" />
  <xs:complexType name="PreguntaContrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPregunta" type="xs:int" />
      <xs:element minOccurs="0" name="Pregunta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespuestaCorrecta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreguntaContrato" nillable="true" type="tns:PreguntaContrato" />
  <xs:complexType name="ArrayOfRespuestaContrato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RespuestaContrato" nillable="true" type="tns:RespuestaContrato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRespuestaContrato" nillable="true" type="tns:ArrayOfRespuestaContrato" />
  <xs:complexType name="RespuestaContrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="FKIdPregunta" type="xs:int" />
      <xs:element minOccurs="0" name="IdRespuesta" type="xs:int" />
      <xs:element minOccurs="0" name="Respuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaContrato" nillable="true" type="tns:RespuestaContrato" />
  <xs:complexType name="EstadisticaContrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEstadistica" type="xs:int" />
      <xs:element minOccurs="0" name="PartidasGanadas" type="xs:int" />
      <xs:element minOccurs="0" name="PartidasPerdidas" type="xs:int" />
      <xs:element minOccurs="0" name="Puntaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadisticaContrato" nillable="true" type="tns:EstadisticaContrato" />
</xs:schema>